.button{
    background-color: black;
    color: #D9D9D9;
    text-transform: uppercase;
    cursor: pointer;
    height: 40px;
    width: 100%;
    padding: 0px 10px;
    border-style: none;
    border-radius: 4px;
    font-weight: 500;
}