.task-container{
    background-color: #AD8631;
    margin: 8px 0;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #0D0D0D;
    border-radius: 4px;
    font-weight: 500;
    
}

.task-title{
    cursor: pointer;
}

.remove-task-button{
    color: #61532C;
    background-color: #AD8631;
    border-style: none;
    cursor: pointer;
    font-size: 18px;
}

