.container{
    max-width: 500px;
    margin: 50px;
    overflow: auto;
    min-height: 300px;
    border: 1px solid #627173;
    padding: 30px;
    border-radius: 8px;
    background-color: #4A5859;
}
