.container{
    max-width: 500px;
    margin: 50px;
    overflow: auto;
    min-height: 300px;
    border: 1px solid #615438;
    padding: 30px;
    border-radius: 8px;
    background-color: #E0AD3F;
}
